<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div class="container-md">
        <h1 class="text-center">Add a New User</h1>
        <form action="/users/new/create" method="POST" class="bg-dark text-warning p-3">
            <label for="f_name" class="form-label">First Name:</label>
            <input type="text" name="f_name" class="form-control mb-3">
            <label for="l_name" class="form-label">Last Name:</label>
            <input type="text" name="l_name" class="form-control mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="text" name="email" class="form-control mb-3">
            <div class="d-flex justify-content-between">
                <input type="submit" value="Add a new User">
                <a href="{{ url_for('display_all')}}">Return to Home</a>
            </div>
        </form>
    </div>
</body>
</html>