<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <style>
        h1 {
            text-align: center;
            padding-top: 50px;
        }

        .box_lines {
            display: flex;
            flex-wrap: wrap;
        }

        .box {
            margin: 20px;
            width: 200px;
            height: 200px;
            background-color: var(--boxcolor);
            border: 3px solid black;
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    
    <div class="box_lines">
        {% for x in range(0,times):%}
        <div class="box" style="--boxcolor: {{color}}"></div>
        {% endfor %}
    </div>
    
</body>
</html>